body {

   background-color: #C8E4B2;           
}

h1 {
   color: #357C3C;
}

h2 {
   color: #357C3C;
}

h3 {
   color: #357C3C;
}

hr  {
   background-color: white;
   border-style: hidden;
}
